li{
list-style-type:none;
}

#maindiv
{
background-color:#lightgrey;
}

#logindiv{
position:absolute;
top:15%;
left:30%;
width:40%;
height:55%;
border:2px solid lightgrey;
border-radius:5px;
}


input[type='text']
{
width:200px;
}


.panel-body{
Width:120%;
margin-left:-10px;

}